[submodule "apache/commons-lang"]
	path = apache/commons-lang
	url = https://github.com/apache/commons-lang
[submodule "patch/libs/manifest-editor"]
    path = axml/libs/manifest-editor
    url = https://github.com/JingMatrix/ManifestEditor.git